<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-pages/iron-pages.html">
<link rel="import" href="chrome://md-settings/advanced_page/advanced_page.html">
<link rel="import" href="chrome://md-settings/basic_page/basic_page.html">

<dom-module id="cr-settings-main">
  <link rel="import" type="css" href="settings_main.css">
  <template>
    <content select="paper-icon-button"></content>
    <iron-pages id="pageContainer" attr-for-selected="data-route-page"
        selected="[[getSelectedPage_(currentRoute)]]">
      <cr-settings-basic-page data-route-page="basic" prefs="{{prefs}}"
          current-route="{{currentRoute}}">
      </cr-settings-basic-page>
      <cr-settings-advanced-page data-route-page="advanced" prefs="{{prefs}}"
          current-route="{{currentRoute}}">
      </cr-settings-advanced-page>
    </iron-pages>
  </template>
  <script src="settings_main.js"></script>
</dom-module>
