<div id=spdy-view-tab-content class=content-box>
  <ul id=spdy-view-status style='margin-top:0'>
    <li>HTTP/2 Enabled: <span jscontent="spdy_enabled"></span></li>
    <!-- "use_alternative_service" is used here since release 46, see
         https://crrev.com/1268313004.  "use_alternate_protocols" is here to
         support importing netlog json files from earlier browsers.
         TODO(bnc): Deprecate around 2016 February. -->
    <li>Use Alternative Service: <span jscontent="$this.use_alternative_services == undefined ? $this.use_alternate_protocols : $this.use_alternative_services"></span></li>
    <li>Next Protocols: <span jscontent="next_protos"></span></li>
  </ul>

  <h4>HTTP/2 sessions</h4>
  <div id=spdy-view-session-info>
    <!-- Only one of these two are shown -->
    <div jsdisplay="spdySessionInfo.length == 0">None</div>
    <div jsdisplay="spdySessionInfo.length != 0">
      <a href="#events&q=type:HTTP2_SESSION%20is:active">View live HTTP/2 sessions</a>
      <p>
        <table class="styled-table">
          <thead>
            <tr>
              <th>Host</th>
              <th>Proxy</th>
              <th>ID</th>
              <th>Protocol Negotiated</th>
              <th>Active streams</th>
              <th>Unclaimed pushed</th>
              <th>Max</th>
              <th>Initiated</th>
              <th>Pushed</th>
              <th>Pushed and claimed</th>
              <th>Abandoned</th>
              <th>Received frames</th>
              <th>Secure</th>
              <th>Sent settings</th>
              <th>Received settings</th>
              <th>Send window</th>
              <th>Receive window</th>
              <th>Unacked received data</th>
              <th>Error</th>
            </tr>
          </thead>
          <tbody>
            <tr jsselect="spdySessionInfo">
              <td><span jscontent="host_port_pair"></span>
                <span jscontent="$this.aliases ? $this.aliases.join(' ') : ''"></span>
              </td>
              <td jscontent="proxy"></td>
              <td><a jsvalues=".href: '#events&q=id:' + source_id" jscontent="source_id"></a></td>
              <td jscontent="protocol_negotiated"></td>
              <td jscontent="active_streams"></td>
              <td jscontent="unclaimed_pushed_streams"></td>
              <td jscontent="max_concurrent_streams"></td>
              <td jscontent="streams_initiated_count"></td>
              <td jscontent="streams_pushed_count"></td>
              <td jscontent="streams_pushed_and_claimed_count"></td>
              <td jscontent="streams_abandoned_count"></td>
              <td jscontent="frames_received"></td>
              <td jscontent="is_secure"></td>
              <td jscontent="sent_settings"></td>
              <td jscontent="received_settings"></td>
              <td jscontent="send_window_size"></td>
              <td jscontent="recv_window_size"></td>
              <td jscontent="unacked_recv_window_bytes"></td>
              <td jscontent="error"></td>
            </tr>
          </tbody>
        </table>
      </p>
    </div>
  </div>

  <h4>Alternative Service Mappings</h4>
  <div id=spdy-view-alternate-protocol-mappings>
    <div jsdisplay="spdyAlternateProtocolMappings.length == 0">None</div>
    <div jsdisplay="spdyAlternateProtocolMappings.length != 0">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Host</th>
            <th>Alternative Service</th>
          </tr>
        </thead>
        <tbody>
          <tr jsselect="spdyAlternateProtocolMappings">
            <td jscontent="host_port_pair"></td>
            <!-- "alternative_service" is used since release 43, see
                 https://crrev.com/1043973002.  "alternate_protocol" is here
                 to support importing netlog json files from earlier browsers.
                 TODO(bnc): Deprecate around 2015 October. -->
            <td jscontent="$this.alternative_service || $this.alternate_protocol"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
