<link rel="import" href="chrome://resources/html/assert.html">
<link rel="import" href="chrome://resources/html/cr.html">
<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://md-settings/prefs/prefs.html">

<dom-module id="cr-settings-languages-singleton">
  <template>
    <cr-settings-prefs prefs="{{prefs}}"></cr-settings-prefs>
  </template>
  <script src="languages.js"></script>
</dom-module>
