<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">

<dom-module id="cr-settings-user-list">
  <link rel="import" type="css"
      href="chrome://md-settings/settings_page/settings_page.css">
  <link rel="import" type="css" href="user_list.css">
  <template>
    <div class="user-list soft-border">
      <template is="dom-repeat" items="[[users]]">
        <div class="user layout horizontal justified">
          <div class="layout vertical center-justified">[[item.email]]</div>
          <div class="close-button"
              hidden$="[[shouldHideCloseButton_(disabled, item.isOwner)]]">
            <paper-icon-button icon="clear" class="clear-icon"
                on-tap="removeUser_">
            </paper-icon-button>
          </div>
        </div>
      </template>
    </div>
  </template>
  <script src="user_list.js"></script>
</dom-module>
