<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://md-settings/checkbox/checkbox.html">
<link rel="import" href="chrome://md-settings/input/input.html">

<dom-module id="cr-settings-downloads-page">
  <link rel="import" type="css"
      href="chrome://md-settings/settings_page/settings_page.css">
  <link rel="import" type="css" href="downloads_page.css">
  <template>
    <div class="horizontal layout center">
      <div class="layout horizontal center">
        <div id="locationLabel" i18n-content="downloadLocation"></div>
        <cr-settings-input id="downloadsPath" no-label-float readonly
            pref="{{prefs.download.default_directory}}"
            aria-labelledby="locationLabel">
        </cr-settings-input>
      </div>
      <paper-button id="changeDownloadsPath" on-tap="selectDownloadLocation_"
          i18n-content="changeDownloadLocation">
      </paper-button>
    </div>
    <cr-settings-checkbox pref="{{prefs.download.prompt_for_download}}"
        i18n-values="label:promptForDownload">
    </cr-settings-checkbox>
  </template>
  <script src="downloads_page.js"></script>
</dom-module>
