<div id="reset-profile-settings-overlay" class="page not-resizable" hidden>
  <div class="close-button"></div>
  <h1 i18n-content="resetProfileSettingsOverlay"></h1>
  <div id="reset-profile-settings-content-area" class="content-area">
    <span i18n-content="resetProfileSettingsExplanation"></span>
  </div>
  <div class="action-area">
    <div class="hbox stretch">
      <a target="_blank" i18n-content="learnMore"
          i18n-values="href:resetProfileSettingsLearnMoreUrl">
      </a>
    </div>
    <div class="action-area-right">
      <div id="reset-profile-settings-throbber" class="throbber"></div>
      <div class="button-strip">
        <button id="reset-profile-settings-dismiss" i18n-content="cancel">
        </button>
        <button id="reset-profile-settings-commit"
            i18n-content="resetProfileSettingsCommit">
        </button>
      </div>
    </div>
  </div>
  <div id="feedback-bar"
      class="gray-bottom-bar checkbox controlled-setting-with-label">
    <label>
      <input id="send-settings" type="checkbox">
      <span>
        <span i18n-content="resetProfileSettingsFeedback"></span>
        <span id="expand-feedback"></span>
      </span>
    </label>
    <div id="feedback-template" hidden>
      <div>
        <table>
          <tr jsselect="feedbackInfo">
            <td class="key"><span jscontent="key">KEY</span></td>
            <td class="value"><span jscontent="value">VALUE</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="chrome://resources/js/jstemplate_compiled.js"></script>
