<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Settings</title>
  <base href="chrome://md-settings">
  <script src="chrome://resources/js/polymer_config.js"></script>
  <script src="chrome://resources/js/load_time_data.js"></script>
  <script src="chrome://md-settings/strings.js"></script>
  <link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
  <link rel="import" href="chrome://md-settings/settings_ui/settings_ui.html">
  <link rel="import" href="chrome://md-settings/prefs/prefs.html">
</head>
<body>

  <dom-module id="cr-settings">
    <template>
      <cr-settings-prefs id="prefs" prefs="{{prefs_}}"></cr-settings-prefs>
      <cr-settings-ui prefs="{{prefs_}}"></cr-settings-ui>
    </template>
    <script src="settings.js"></script>
  </dom-module>

  <cr-settings></cr-settings>
  <script src="chrome://resources/js/i18n_template.js"></script>
</body>
</html>
