/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.active-sink {
  color: rgb(33, 150, 243);
}

#arrow-drop-icon::shadow #icon {
  height: 20px;
  width: 20px;
}

.cast-mode-icon,
.sink-icon {
  -webkit-padding-end: 16px;
  -webkit-padding-start: 20px;
  height: 16px;
  width: 16px;
}

#cast-mode-list {
  padding-bottom: 8px;
  padding-top: 8px;
}

#close-button::shadow #icon {
  height: 15px;
  width: 15px;
}

#container-header {
  background-color: rgb(33, 150, 243);
}

#container-header.cast-mode-list {
  background-color: rgb(0, 150, 136);
}

#container-header.filter {
  background-color: rgb(103, 58, 183);
}

#device-missing {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
}

#device-missing a {
  color: rgb(33, 150, 243);
  text-decoration: none;
}

#header-text {
  -webkit-padding-start: 5px;
  flex-grow: 1;
  font-size: 1.25em;
  margin: 0;
}

#issue-banner {
  width: 100%;
  z-index: 1;
}

#issue-banner.non-blocking {
  bottom: 0;
  position: fixed;
}

paper-item {
  cursor: pointer;
  font-size: 1.0em;
  line-height: 0;
  min-height: 0;
  padding: 12px 0;
}

paper-item:hover {
  background-color: rgb(238, 238, 238);
  border: 0;
}

paper-menu {
  -webkit-user-select: none;
  color: rgb(0, 0, 0);
  padding: 0;
}

.route {
  color: rgb(150, 150, 150);
}

#searching-devices-spinner {
  height: 30px;
  width: 30px;
}

#share-screen-text {
  -webkit-padding-start: 20px;
  color: rgb(150, 150, 150);
  padding-bottom: 8px;
  padding-top: 8px;
}

.sink-content {
  display: flex;
  flex-direction: row;
  font-weight: normal;
}

#sink-list {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sink-text {
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}
