<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-radio-group/paper-radio-group.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-radio-button/paper-radio-button.html">

<dom-module id="cr-settings-radio-group">
  <link rel="import" type="css" href="radio_group.css">
  <template>
    <div>[[label]]</div>
    <paper-radio-group selected="{{selected}}">
      <content></content>
    </paper-radio-group>
  </template>
  <script src="radio_group.js"></script>
</dom-module>
