<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icons/image-icons.html">
<link rel="import" href="chrome://md-settings/appearance_page/appearance_page.html">
<link rel="import" href="chrome://md-settings/search_page/search_page.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_section.html">
<link rel="import" href="chrome://md-settings/on_startup_page/on_startup_page.html">

<if expr="chromeos">
<link rel="import" href="chrome://md-settings/internet_page/internet_page.html">
<link rel="import" href="chrome://md-settings/users_page/users_page.html">
</if>

<dom-module id="cr-settings-basic-page">
  <link rel="import" type="css" href="basic_page.css">
  <template>
<if expr="chromeos">
    <settings-section i18n-values="page-title:internetPageTitle"
        current-route="[[currentRoute]]" section="internet">
      <cr-settings-internet-page current-route="{{currentRoute}}">
      </cr-settings-internet-page>
    </settings-section>
</if>
    <settings-section i18n-values="page-title:appearancePageTitle"
        current-route="[[currentRoute]]" section="appearance">
      <cr-settings-appearance-page prefs="{{prefs}}">
      </cr-settings-appearance-page>
    </settings-section>

    <settings-section i18n-values="page-title:onStartup"
        current-route="[[currentRoute]]" section="on-startup">
      <cr-settings-on-startup-page
          prefs="{{prefs}}" current-route="{{currentRoute}}">
      </cr-settings-on-startup-page>
    </settings-section>

    <settings-section i18n-values="page-title:searchPageTitle"
        current-route="[[currentRoute]]" section="search">
      <cr-settings-search-page current-route="{{currentRoute}}">
      </cr-settings-search-page>
    </settings-section>

<if expr="chromeos">
    <settings-section i18n-values="page-title:usersPageTitle"
        current-route="[[currentRoute]]" section="users">
      <cr-settings-users-page prefs="{{prefs}}"></cr-settings-users-page>
    </settings-section>
</if>
  </template>
  <script src="basic_page.js"></script>
</dom-module>
