<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icons/iron-icons.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-checkbox/paper-checkbox.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/cr_collapse/cr_collapse.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/cr_expand_button/cr_expand_button.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/network/cr_network_icon.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/network/cr_onc_types.html">
<link rel="import" href="network_apnlist.html">
<link rel="import" href="network_ip_config.html">
<link rel="import" href="network_nameservers.html">
<link rel="import" href="network_property_list.html">
<link rel="import" href="network_proxy.html">
<link rel="import" href="network_siminfo.html">

<dom-module id="cr-settings-internet-detail-page">
  <link rel="import" type="css" href="chrome://md-settings/settings_page/settings_page.css">
  <link rel="import" type="css" href="internet_detail_page.css">
  <template>
    <div class="layout vertical">
      <!-- Title section: Icon + name + connection state. -->
      <div id="titleDiv" class="layout horizontal center">
        <cr-network-icon id="networkIcon" network-state="[[networkProperties]]">
        </cr-network-icon>
        <span id="networkName">[[getStateName_(networkProperties)]]</span>
        <span id="networkState"
            connected$="[[isConnectedState_(networkProperties)]]"
            >[[getStateText_(networkProperties)]]</span>
      </div>

      <div id="outerDiv" class="layout vertical">
        <!-- For Cellular, show SIM info first. -->
        <div id="simInfoDiv" class="layout vertical">
          <network-siminfo editable
              hidden$="[[!showCellularSim_(networkProperties)]]"
              network-properties="[[networkProperties]]"
              on-siminfo-change="onNetworkPropertyChange_">
          </network-siminfo>
        </div>

        <!-- Info and properties common to all networks. -->
        <div id="infoDiv" class="layout vertical">
          <div class="layout horizontal" hidden$="[[!IPAddress]]">
            <span>IP Address:</span>
            <span>[[IPAddress]]</span>
          </div>
          <span hidden$="[[!showShared_(networkProperties)]]">
            This network is shared with other users.
          </span>
          <div class="layout horizontal center"
              hidden$="[[!showPreferNetwork_(networkProperties)]]">
            <paper-icon-button id="preferButton"
                toggles active="{{preferNetwork}}"
                icon="[[getPreferredIcon_(preferNetwork)]]">
            </paper-icon-button>
            <span>Prefer this network</span>
          </div>
          <paper-checkbox checked="{{autoConnect}}"
              hidden$="[[!showAutoConnect_(networkProperties)]]">
            Automatically connect to this network
          </paper-checkbox>

          <!-- Properties to always show if present. -->
          <network-property-list
              fields="[[getInfoFields_(networkProperties)]]"
              property-dict="[[networkProperties]]">
          </network-property-list>
        </div>

        <!-- Button row: Advanced + Disconnect | Connect. -->
        <div class="layout horizontal center">
          <paper-button toggles noink active="{{advancedExpanded}}"
              hidden$="[[!hasAdvancedOrDeviceFields_(networkProperties)]]">
            Advanced
          </paper-button>
          <span class="flex"></span>
          <paper-button hidden$="[[!showViewAccount_(networkProperties)]]"
              on-tap="onViewAccountClicked_">
            View Account
          </paper-button>
          <paper-button hidden$="[[!showActivate_(networkProperties)]]"
              on-tap="onActivateClicked_">
            Activate
          </paper-button>
          <paper-button hidden$="[[!showConnect_(networkProperties)]]"
              disabled="[[!enableConnect_(networkProperties)]]"
              on-tap="onConnectClicked_">
            Connect
          </paper-button>
          <paper-button hidden$="[[!showDisconnect_(networkProperties)]]"
              on-tap="onDisconnectClicked_">
            Disconnect
          </paper-button>
        </div>

        <!-- Advanced section -->
        <div id="advancedDiv" class="layout vertical"
            hidden$="[[!hasAdvancedOrDeviceFields_(networkProperties)]]">
          <cr-collapse opened="[[advancedExpanded]]">
            <!-- Advanced properties -->
            <div id="advancedInfoDiv" class="layout vertical">
              <network-property-list
                  fields="[[getAdvancedFields_(networkProperties)]]"
                  property-dict="[[networkProperties]]">
              </network-property-list>
            </div>

            <!-- Network (APN, address, nameservers) -->
            <div id="addressDiv" class="layout vertical"
                hidden$="[[!hasNetworkSection_(networkProperties)]]">
              <paper-button toggles noink active="{{addressExpanded}}">
                Network
              </paper-button>
              <cr-collapse opened="[[addressExpanded]]">
                <div class="layout vertical flex">
                  <network-apnlist editable
                      hidden$="[[!isType_(networkProperties, NetworkType.CELLULAR)]]"
                      network-properties="[[networkProperties]]"
                      on-apn-change="onNetworkPropertyChange_">
                  </network-apnlist>
                  <network-ip-config editable
                      network-properties="[[networkProperties]]"
                      on-ip-change="onIPConfigChange_">
                  </network-ip-config>
                  <network-nameservers editable
                      network-properties="[[networkProperties]]"
                      on-nameservers-change="onIPConfigChange_">
                  </network-nameservers>
                </div>
              </cr-collapse>
            </div>

            <!-- Proxy -->
            <div class="layout vertical"
                hidden$="[[!hasNetworkSection_(networkProperties)]]">
              <paper-button toggles noink active="{{proxyExpanded}}">
                Proxy
              </paper-button>
              <cr-collapse opened="[[proxyExpanded]]">
                <div id="proxyDiv" class="layout vertical flex">
                  <network-proxy editable
                      network-properties="[[networkProperties]]"
                      on-proxy-change="onProxyChange_">
                  </network-proxy>
                </div>
              </cr-collapse>
            </div>

            <!-- Device properties -->
            <div class="layout vertical"
                hidden$="[[!hasDeviceFields_(networkProperties)]]">
              <paper-button toggles noink active="{{deviceExpanded}}">
                Device
              </paper-button>
              <cr-collapse opened="[[deviceExpanded]]">
                <network-property-list
                    fields="[[getDeviceFields_(networkProperties)]]"
                    property-dict="[[networkProperties]]">
                </network-property-list>
                <!-- TODO(stevenjb): Cellular SIM -->
              </cr-collapse>
            </div>
          </cr-collapse>
        </div>
      </div>
    </div>
  </template>
  <script src="internet_detail_page.js"></script>
</dom-module>
