<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/neon-animation/neon-animatable.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/network/cr_onc_types.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_animated_pages.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_subheader.html">
<link rel="import" href="internet_detail_page.html">
<link rel="import" href="internet_known_networks_page.html">
<link rel="import" href="network_summary.html">

<dom-module id="cr-settings-internet-page">
  <link rel="import" type="css"
      href="chrome://md-settings/settings_page/settings_page.css">
  <template>
    <settings-animated-pages id="pages" current-route="{{currentRoute}}"
        section="internet">
      <neon-animatable id="">
        <network-summary on-show-detail="onShowDetail_"
            on-show-known-networks="onShowKnownNetworks_">
        </network-summary>
      </neon-animatable>
      <neon-animatable id="network-detail">
        <settings-subheader i18n-values="page-title:internetDetailPageTitle">
        </settings-subheader>
        <cr-settings-internet-detail-page guid="[[detailGuid]]"
            on-close="onBackTap_">
        </cr-settings-internet-detail-page>
      </neon-animatable>
      <neon-animatable id="known-networks">
        <settings-subheader
            i18n-values="page-title:internetKnownNetworksPageTitle">
        </settings-subheader>
        <cr-settings-internet-known-networks-page
            network-type="[[knownNetworksType]]"
            on-show-detail="onShowDetail_">
        </cr-settings-internet-known-networks-page>
      </neon-animatable>
    </settings-animated-pages>
  </template>
  <script src="internet_page.js"></script>
</dom-module>
