<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-spinner/paper-spinner.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/cr_expand_button/cr_expand_button.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/network/cr_network_list.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/network/cr_network_list_item.html">

<dom-module name="network-summary-item">
  <link rel="import" type="css" href="network_summary_item.css">
  <template>
    <div class="layout vertical" hidden$="[[isHidden]]">
      <div id="details" class="layout horizontal center"
          on-click="onDetailsClicked_">
        <cr-network-list-item id="detailsItem"
            network-state="[[networkState]]">
        </cr-network-list-item>
        <paper-spinner active="[[showScanning_(deviceState, expanded)]]">
        </paper-spinner>
        <span class="flex"></span>
        <div id="buttons" class="layout horizontal">
          <cr-expand-button id="expandListButton"
              class$="[[getExpandButtonClass_(deviceState, networkStateList)]]"
              expanded="{{expanded}}">
          </cr-expand-button>
          <paper-toggle-button id="deviceEnabledButton"
              checked="[[deviceIsEnabled_(deviceState)]]"
              class$="[[getDeviceEnabledButtonClass_(deviceState)]]"
              on-tap="onDeviceEnabledToggled_">
          </paper-toggle-button>
        </div>
      </div>
      <div id="listDiv" class="layout vertical">
        <cr-network-list id="networkList"
            max-height="[[maxHeight]]"
            networks="[[networkStateList]]"
            on-selected="onListItemSelected_"
            opened="{{expanded}}">
        </cr-network-list>
        <div class="layout horizontal">
          <paper-button
              hidden$="[[!showKnownNetworks_(networkState, expanded)]]"
              on-tap="onKnownNetworksClicked_">
            Known networks
          </paper-button>
        </div>
      </div>
    </div>
  </template>
  <script src="network_summary_item.js"></script>
</dom-module>
