/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#port {
  width: 50px;
}

span {
  @apply(--paper-font-subhead);
  @apply(--paper-input-container-input);
  margin-right: 5px;
}

paper-input {
  margin: -9px 5px 0 5px;
}
