<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/network/cr_onc_types.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/paper-styles.html">

<dom-module name="network-property-list">
  <link rel="import" type="css" href="network_property_list.css">
  <template>
    <div class="layout horizontal">
      <div class="layout vertical">
        <template is="dom-repeat" items="[[fields]]">
          <div class="layout horizontal"
              hidden$="[[!showProperty_(propertyDict, editFieldTypes, item)]]">
            <span>[[getPropertyLabel_(item)]]</span>
            <span class="flex fill"></span>
          </div>
        </template>
      </div>
      <div class="layout vertical">
        <template is="dom-repeat" items="[[fields]]">
          <div class="layout horizontal"
              hidden$="[[!showNoEdit_(propertyDict, editFieldTypes, item)]]">
            <span>[[getPropertyValue_(propertyDict, item)]]</span>
          </div>
          <div class="layout horizontal" hidden$=
               "[[!showEdit_(propertyDict, editFieldTypes, item, 'String')]]">
            <paper-input-container no-label-float>
              <input id="[[item]]" is="iron-input"
                  value="[[getPropertyValue_(propertyDict, item)]]"
                  on-blur="onValueChange_">
            </paper-input-container>
          </div>
          <!-- TODO(stevenjb): Support non-string types. -->
        </template>
      </div>
    </div>
  </template>
  <script src="network_property_list.js"></script>
</dom-module>
