<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/paper-styles.html">

<dom-module id="network-proxy-input">
  <link rel="import" type="css" href="network_proxy_input.css">
  <template>
    <div id="outer" class="layout horizontal">
      <span class="flex">[[label]]</span>
      <paper-input no-label-float id="url" disabled="[[!editable]]"
          value="{{value.Host}}" on-blur="onValueChange_">
      </paper-input>
      <span>Port</span>
      <paper-input no-label-float id="port" disabled="[[!editable]]"
         value="{{value.Port}}" on-blur="onValueChange_">
      </paper-input>
    </div>
  </template>
  <script src="network_proxy_input.js"></script>
</dom-module>
