/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  :host {
    flex-basis: 670px;  /* 622 card width + 24 left margin + 24 right margin. */
  }
}

#panel {
  --paper-header-panel-shadow: {
    display: none;
  };
  --paper-header-panel-standard-container: {
    display: flex;
    overflow-y: overlay;
  };
}

#no-downloads,
#downloads-list {
  flex: 1;
}

.loading #no-downloads,
.loading #downloads-list {
  display: none;
}

#no-downloads {
  align-items: center;
  color: #b4b4b4;
  display: flex;
  font-size: 123.1%;
  font-weight: 500;
  justify-content: center;
}

#no-downloads .illustration {
  background: -webkit-image-set(url(1x/no_downloads.png) 1x,
                                url(2x/no_downloads.png) 2x)
      no-repeat center center;
  height: 144px;  /* Matches natural image height. */
  margin-bottom: 32px;
}
