<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icons/iron-icons.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-item/paper-item.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-menu/paper-menu.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-menu-button/paper-menu-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-icon-button/paper-icon-button.html">
<link rel="import" href="chrome://resources/cr_elements/v1_0/cr_search_field/cr_search_field.html">
<link rel="import" href="chrome://resources/html/assert.html">
<link rel="import" href="chrome://resources/html/cr.html">

<dom-module id="downloads-toolbar">
  <template>
    <div id="title">
      <h1 i18n-content="title"></h1>
    </div>
    <div id="actions">
      <paper-button class="clear-all" i18n-content="clearAll"
          on-click="onClearAllClick_"></paper-button>
      <paper-button i18n-content="openDownloadsFolder"
          on-click="onOpenDownloadsFolderClick_"></paper-button>
    </div>
    <div id="search">
      <cr-search-field id="search-input"
          i18n-values="label:search;clear-label:clearSearch"></cr-search-field>
      <paper-menu-button id="more" horizontal-align="right">
        <paper-icon-button icon="more-vert" i18n-values="title:moreActions"
             class="dropdown-trigger"></paper-icon-button>
        <paper-menu class="dropdown-content">
          <paper-item class="clear-all" i18n-content="clearAll"
              on-click="onClearAllClick_"></paper-item>
          <paper-item i18n-content="openDownloadsFolder"
              on-click="onOpenDownloadsFolderClick_"></paper-item>
        </paper-menu>
      </paper-menu-button>
    </div>
  </template>
  <link rel="import" type="css" href="chrome://downloads/shared_style.css">
  <link rel="import" type="css" href="chrome://downloads/toolbar.css">
  <script src="chrome://downloads/toolbar.js"></script>
</dom-module>
