/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin: 20px;
}

h1 {
  -webkit-padding-start: 75px;
  background-image: url(../../app/theme/common/sadtab.svg);
  background-position: left;
  background-repeat: no-repeat;
  font-size: 156%;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

html[dir=rtl] h1 {
  background-position: right;
}

#countBanner {
  background-color: rgb(235, 239, 250);
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 100%;
  padding: 4px;
}

#crashList h3 {
  font-size: 100%;
}

#crashList > div > * {
  margin: 0.75em 0;
}

#crashList a:visited {
  color: #666;
}

#crashList > div:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

#disabledMode h2 {
  color: rgb(141, 51, 42);
  font-size: 125%;
}
