<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/neon-animation/neon-animatable.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://md-settings/checkbox/checkbox.html">
<link rel="import" href="chrome://md-settings/search_engines_page/search_engines_page.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_animated_pages.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_subheader.html">

<dom-module id="cr-settings-search-page">
  <link rel="import" type="css"
      href="chrome://md-settings/settings_page/settings_page.css">
  <link rel="import" type="css" href="search_page.css">
  <template>
    <settings-animated-pages id="pages" current-route="{{currentRoute}}"
        section="search">
      <neon-animatable id="">
        <p i18n-content="searchExplanation"></p>

        <div class="search-engines">
          <select id="searchEnginesMenu" on-change="defaultEngineGuidChanged_">
            <template is="dom-repeat" items="[[searchEngines]]">
              <option value="[[item.guid]]">{{item.name}}</option>
            </template>
          </select>

          <paper-button class="search-engines"
              i18n-content="searchManageButtonLabel"
              on-tap="onSearchEnginesTap_" raised>
          </paper-button>
        </div>
      </neon-animatable>
      <neon-animatable id="search-engines">
        <settings-subheader i18n-values="page-title:searchEnginesLabel">
        </settings-subheader>
        <cr-settings-search-engines-page></cr-settings-search-engines-page>
        <paper-button class="search-engines-advanced"
            i18n-content="advancedPageTitle"
            on-tap="onSearchEnginesAdvancedTap_" raised>
        </paper-button>
      </neon-animatable>
      <neon-animatable id="search-engines-advanced">
        <!-- This sub-subpage is purely a placeholder to provide an example. -->
        <settings-subheader i18n-values="page-title:searchEnginesLabel">
        </settings-subheader>
        <p i18n-content="searchExplanation"></p>
      </neon-animatable>
    </settings-animated-pages>
  </template>
  <script src="search_page.js"></script>
</dom-module>
