<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://md-settings/downloads_page/downloads_page.html">
<link rel="import" href="chrome://md-settings/languages_page/languages_page.html">
<link rel="import" href="chrome://md-settings/location_page/location_page.html">
<link rel="import" href="chrome://md-settings/privacy_page/privacy_page.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_section.html">
<link rel="import" href="chrome://md-settings/sync_page/sync_page.html">

<if expr="chromeos">
<link rel="import" href="chrome://md-settings/a11y_page/a11y_page.html">
<link rel="import" href="chrome://md-settings/date_time_page/date_time_page.html">
</if>

<dom-module id="cr-settings-advanced-page">
  <link rel="import" type="css" href="advanced_page.css">
  <template>
<if expr="chromeos">
    <settings-section i18n-values="page-title:dateTimePageTitle"
        current-route="[[currentRoute]]" section="dateTime">
      <cr-settings-date-time-page prefs="{{prefs}}">
      </cr-settings-date-time-page>
    </settings-section>
</if>
    <settings-section i18n-values="page-title:siteSettingsLocation"
        current-route="[[currentRoute]]" section="location">
      <cr-settings-location-page prefs="{{prefs}}">
      </cr-settings-location-page>
    </settings-section>

    <settings-section i18n-values="page-title:privacyPageTitle"
        current-route="[[currentRoute]]" section="privacy">
      <cr-settings-privacy-page prefs="{{prefs}}"
        current-route="{{currentRoute}}">
      </cr-settings-privacy-page>
    </settings-section>

    <settings-section i18n-values="page-title:languagesPageTitle"
        current-route="[[currentRoute]]" section="languages">
      <cr-settings-languages-page prefs="{{prefs}}"
          current-route="{{currentRoute}}">
      </cr-settings-languages-page>
    </settings-section>

    <settings-section i18n-values="page-title:downloadsPageTitle"
        current-route="[[currentRoute]]" section="downloads">
      <cr-settings-downloads-page prefs="{{prefs}}">
      </cr-settings-downloads-page>
    </settings-section>

<if expr="chromeos">
    <!-- TODO(dbeam): find somewhere to stuff "Add more accessibility features"
         on desktop. -->
    <settings-section i18n-values="page-title:a11yPageTitle"
        current-route="[[currentRoute]]" section="a11y">
      <cr-settings-a11y-page prefs="{{prefs}}"></cr-settings-a11y-page>
    </settings-section>
</if>

    <settings-section i18n-values="page-title:syncPageTitle"
        current-route="[[currentRoute]]" section="sync">
      <cr-settings-sync-page></cr-settings-sync-page>
    </settings-section>
  </template>
  <script src="advanced_page.js"></script>
</dom-module>
