<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-tabs/paper-tabs.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-pages/iron-pages.html">

<dom-module id="cr-settings-certificate-manager-page">
  <link rel="import" type="css" href="certificate_manager_page.css">
  <template>
    <paper-tabs selected="{{selected}}">
      <paper-tab i18n-content="certificateManagerYourCertificates"></paper-tab>
      <paper-tab i18n-content="certificateManagerServers"></paper-tab>
      <paper-tab i18n-content="certificateManagerAuthorities"></paper-tab>
      <paper-tab i18n-content="certificateManagerOthers"></paper-tab>
    </paper-tabs>

    <iron-pages selected="{{selected}}">
      <div>
        <div i18n-content="certificateManagerYourCertificatesSubtitle"></div>
        <div class="privacy-buttons layout horizontal end-justified">
          <paper-button i18n-content="certificateManagerView"></paper-button>
          <paper-button i18n-content="certificateManagerImport"></paper-button>
          <paper-button i18n-content="certificateManagerImportAndBind">
          </paper-button>
          <paper-button i18n-content="certificateManagerExport"></paper-button>
          <paper-button i18n-content="certificateManagerDelete"></paper-button>
          <span class="flex"></span>
          <paper-button raised i18n-content="certificateManagerDone">
          </paper-button>
        </div>
      </div>
      <div>
        <div i18n-content="certificateManagerServersSubtitle"></div>
        <div class="privacy-buttons layout horizontal end-justified">
          <paper-button disabled i18n-content="certificateManagerView">
          </paper-button>
          <paper-button i18n-content="certificateManagerImport"></paper-button>
          <paper-button disabled i18n-content="certificateManagerExport">
          </paper-button>
          <paper-button disabled i18n-content="certificateManagerDelete">
          </paper-button>
          <span class="flex"></span>
          <paper-button raised  i18n-content="certificateManagerDone">
          </paper-button>
        </div>
      </div>
      <div>
        <div i18n-content="certificateManagerAuthoritiesSubtitle"></div>
        <div class="privacy-buttons layout horizontal end-justified">
          <paper-button i18n-content="certificateManagerView"></paper-button>
          <paper-button i18n-content="certificateManagerImport"></paper-button>
          <paper-button i18n-content="certificateManagerExport"></paper-button>
          <paper-button i18n-content="certificateManagerDelete"></paper-button>
          <span class="flex"></span>
          <paper-button raised i18n-content="certificateManagerDone">
          </paper-button>
        </div>
      </div>
      <div>
        <div i18n-content="certificateManagerOthersSubtitle"></div>
        <div class="privacy-buttons layout horizontal end-justified">
          <paper-button disabled i18n-content="certificateManagerView">
          </paper-button>
          <paper-button disabled i18n-content="certificateManagerExport">
          </paper-button>
          <paper-button disabled i18n-content="certificateManagerDelete">
          </paper-button>
          <span class="flex"></span>
          <paper-button raised i18n-content="certificateManagerDone">
          </paper-button>
        </div>
      </div>
    </iron-pages>
  </template>
  <script src="certificate_manager_page.js"></script>
</dom-module>
